*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    
}

.container{
    
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    background-color: rgb(75, 156, 231);
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 46px;
    align-items: center;
    text-align: center;
}

.foto_e_flecha{
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 15vw;
    justify-content:space-between ;
    
}

#foto_de_perfil{
right: 10px;
}
.foto_de_perfil{

  width: 40px;
  border-radius: 50%;
}

.nome_do_grupo{
    top: 20px;
    align-items: center;
    text-align: center;
    width: 80vw;
}
h1{
    font-size: 24px;
}

.three_dots{
    display: flex;
    align-items: center;
    text-align: center;
    width: 5vw;
}

#visor_de_conversa{
    background: rgb(160, 220, 255);
    height: 95vh;
    width: 100vw;
    
    
}

.interior_visor_de_conversa{
    
    margin-top: 50px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-bottom: 50px;
}
.box-foto{
    height: 200px ;
    width: 150px;
    
    margin: 2px;
    margin-left: 10px;
display: flex;
    align-items: center;
    text-align: center;
    background: black;
}
.foto{
    width: 100%;
}




#barra_inferior{
    z-index: 2;
    position: fixed;
    height: 5vh;
    width: 100vw;
    bottom: 5px;
    border-radius: 20px;
    background: rgb(230, 229, 229);
    flex-direction: row;
    align-items: center;
    text-align: center
}


#mensagem{
    height: 100%;
    width: 70%;
}

#emoji{
    width: 10%;
}

.arquivo{
    width: 20px;
}
#sumir_com_esse_file{
    display: none ;
}

#enviar{
    width: 10%;
}